.scoreBoard{
    height: 100%;
    width: 13.87rem;
    border: solid black 1rem;
    border-radius: 0.5rem;
    background-color: #99CDD2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.score{
    font-size: 2.5rem ;
    font-weight: 700;
}

.scoreTitle{
    font-weight: 500;
}

.userHighScore{
    font-size: 1.5rem;
}

.userHighScoreTitle{
    font-size: 1rem;
}

.scores{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    height: 50%;
}

.instructions{
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 75%;
}