.details{
    text-align: left;
    margin: 3rem;
}

.modal-display{
    border-radius: 0.5rem !important;
    width: 30rem;
    background-color: #00838F;
}

.detail-category{
    font-weight: bold !important;
    color: rgb(83, 83, 83);
}

.updateButton{
    color: black;
    font-weight: 500 !important;
    border-radius: 0.2rem;
}

.modal-button{
    margin-top: 1rem;
}

.modal-display{
    width: 30rem;
}
