.wrapper{
    display: flex;
    justify-content: flex-end;
}

.ul{
    display:flex;
    /* align-items: center; */
    /* color: black; */
}

.li{
    margin-right: 1rem;
    color: black;
    font-weight: 500 !important;
}

.welcome{
    text-transform: uppercase;
}

  
.tooltip .tooltiptext {
    visibility: hidden;
    background-color: black;
    color: #fff;
    border-radius: 0.3rem;
    margin-left: -6rem;
    width: 11.5rem;
    height: 6rem;
    position: absolute;
    z-index: 2;
    font-size: 0.9rem;
    line-height: normal;
    padding: 0.85rem;
    text-align: center;
    font-weight: 400;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.button{
    color: black;
    font-weight: 500;
}
