.wrapper{
    display: flex;
    justify-content: flex-end;
}

.ul{
    display:flex;
    align-items: center;
    /* color: black; */
}

.li{
    margin-right: 1rem;
    color: black;
    font-weight: 500 !important;
}

.welcome{
    text-transform: uppercase;
}